{% extends 'layout.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="row">
                <h1>A propos</h1>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur, aut autem, cum
                    dolorem doloribus fuga ipsa iure laboriosam laborum maiores minus odio possimus quasi similique
                    tempore totam voluptate voluptatibus.
                </div>
                <div>Enim fuga inventore magnam nobis nulla quibusdam repudiandae voluptas. Ab ad, animi at nostrum
                    reprehenderit repudiandae sequi. Culpa dolore doloremque exercitationem, in incidunt quibusdam sit
                    tempore voluptas. Eveniet, reprehenderit, sunt.
                </div>
                <div>Asperiores, corporis earum eius et iure maxime mollitia porro quidem. Assumenda blanditiis eos
                    impedit nesciunt quos veniam! Animi, asperiores blanditiis doloribus excepturi facilis nobis nulla
                    porro quas quidem rerum, tempora?
                </div>
                <div>Accusamus ad dicta dolore esse id nihil nulla! Aliquid aspernatur dolore dolorum eos, facere
                    molestias natus necessitatibus nemo nesciunt non omnis pariatur porro quam rem temporibus voluptate
                    voluptatem. Ex, veritatis.
                </div>
                <div>A, ab adipisci architecto commodi debitis dolorem ducimus, eius eos eveniet impedit in itaque
                    laborum, modi neque odio pariatur perferendis qui quia ratione recusandae sequi sint tempora!
                    Consequuntur, modi, sit?
                </div>
            </div>
        </div>
    </div>
{% endblock %}